
  <title>Login - Jobs 2.0</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<div class="loginContainer">
  <label for="basic-url" class="credentials"><h2>Unesi podatke</h2></label>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon3">Korisničko ime: </span>
    <input type="text" class="form-control user" id="basic-url" aria-describedby="basic-addon3" placeholder="Unesite korisničko ime..." required>
  </div>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon3">Korisnička lozinka: </span>
    <input type="password" class="form-control pw" id="basic-url" aria-describedby="basic-addon3" placeholder="Unesite lozinku..." required>
  </div>
    <button type="button" class="btn btn-primary loginBtn">Prijavi se</button>
    <a href="index.html#!/login/forgotpw" class="forgotPw">Forgot password?</a>
    <a href="#" class="forgotPw">Zaboravljena lozinka?</a>
</div>
